body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  
/*main {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}*/
  
h1 {
    font-size: 3.5rem;
}
  
input {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    font-size: 0.9rem;
    background: #888;
    padding: 1rem;
    color: white;
    cursor: pointer;
}
  
footer {
    position: absolute;
    bottom: 0;
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
    animation: gradient 15s ease infinite;
}
